@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

:root{
    --primary-color: white;
    --second-color: black;
    --third-color: #E0AA3E;
}

header{
    background-color: var(--second-color);
    height: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1vh var(--third-color);
}

h1{
    color: var(--third-color);
    font-size: 3em;
    font-family: "Great Vibes", cursive;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.wrapper-left, .wrapper-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-h1{
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-img{
    width: 100%;
}